@import "../core/reset.scss";
@import "../core/var.scss";

.App {
    font-family: 'Roboto', sans-serif;
    background-color: $background;
    min-height: 100vh;

    &__main {
        margin: $main-padding $central-col ;
        background-color: $calculator;
        height: 55vh;
        padding: $main-padding;
        border-radius: $round-border;
    }
}

.main__wrapper--bt {
    margin: $central-col $margin;
    display: flex;
    justify-content: space-evenly;

}

@media all and(min-width: 768px) {
    .main__wrapper {
        justify-content: center;
    }
}