@import "../core/reset.scss";
@import "../core/var.scss";

.App {
    font-family: 'Roboto', sans-serif;
    color: $principal-color;
    background-color: black;
    min-height: 100vh;

    &__main {
        margin: $central-col;
        background-color: white;
        height: 55vh;
        padding: $main-padding;
        border-radius: $round-border;
        ;
    }
}

.main__wrapper {
    margin-bottom: $margin;
    display: flex;
    justify-content: space-evenly;
}

@media all and(min-width: 768px) {
    .main__wrapper {
        justify-content: center;
    }
}