@import "../core/reset.scss";
@import "../core/var.scss";

.App {
    font-family: 'Roboto', sans-serif;
    margin: $margin;
}

.main__wrapper {
    margin-bottom: $margin;
    display: flex;
    justify-content: space-evenly;
}