@import "../core/reset.scss";
@import "../core/var.scss";

.Button {
    margin: 0 $margin;
    border-radius: $round-input;
    border-color: $border;
    background-color: $button;
    color: $button-text;
    font-size: $medium;
    min-height: 50px;
    min-width: 50px;

    &:hover {
        cursor: pointer;
        background-color: $button-text;
        color: $button;
    }
}