@import "../core/reset.scss";
@import "../core/var.scss";

.Button {
    margin: 0 $margin;
    border-radius: $round-input;
    border-color: $border;
    background-color: $button;
    color: $button-text;

    &:hover {
        cursor: pointer;
        background-color: $button-text;
        color: $button;
    }
}