@import "../core/reset.scss";
@import "../core/var.scss";

.Footer {
    margin-top: $margin;
    padding: $margin-label;
    display: flex;
    justify-content: space-between;

    &__link {
        text-decoration: none;
        color: $text;

        &:hover {
            cursor: pointer;
            color: $click-me;
        }
    }
}