@import "../core/reset.scss";
@import "../core/var.scss";

.Header {
    min-height: 20vh;
    background-image: url("../../images/cat-alex.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}