@import "../core/reset.scss";
@import "../core/var.scss";

.Output {
    &__title {
        font-weight: 900;
        font-size: $big;
        text-align: center;
        padding: $main-padding 0;
        color: $title;

        @media all and (min-width: 1100px) {
            padding-top: 0;
        }

    }

    &__paragraph {
        color: $text;
        margin: $central-col 0;
        background-color: $background-result;
        border: solid 1px $border;
        border-radius: $round-input;
        text-align: center;
        line-height: 400%;
        height: 10vh;

        @media all and (min-width: 810px) {
            margin: $margin-tablet 0;
            font-size: $medium;
            line-height: 350%;
        }

        @media all and (min-width: 1100px) {
            margin: 0;
            font-size: $big;
            line-height: 275%;
        }
    }
}