//separations
$margin: 2.5%;
$margin-label: 3%;
$central-col: 5%;

//colors
$principal-color: #8A9690;
$secondary-color: #E4A26C;
$terciary-color: #583832;

//font-sizes
$big: 1.75rem; //28px
$standard: 1rem; //16px
$small: 0.75rem; //12px
$details: 0.625rem; //10px