//separations, etc.
$margin: 2.5%;
$margin-label: 3%;
$central-col: 10%;
$main-padding: 5%;
$round-border: 15px;
$round-input: 7px;

//colors

$background: #f5f5ef;
$calculator: #e8c39e;
$button: #b08e6b;
$background-result: rgb(228, 215, 175);
$background-input: rgb(228, 215, 175);
$title: #b08e6b;
$border: #b08e6b;
$button-text: white;
$text: black;

//font-sizes
$big: 1.75rem; //28px
$standard: 1rem; //16px
$small: 0.75rem; //12px
$details: 0.625rem; //10px